@CHARSET "UTF-8";


body {
	background:#eee;
}
#show-post-header {
	margin-top:2%;
	text-align:center;
	background:#eee;
}

#page-wrapper {
	width:50%;
	margin-top:21px;
}

.container-fluid {
	background-color: #eee;
}

wraper-post-info {
	display:block;
	width:35%;
}

#page-wrapper {
	background-color:#eee !important;
}

.post-label{
	text-align:center;
}

#pic-h {
	text-align:center;
}
.show-post-content {
	text-align:center;
}

.post-pics {
	margin:25px;
	  height:170px;
	width:200px;
}

p {
	font-weight:bold;
}



.post-but-div {
	background:#222;
	padding:15px;
	border-radius:7%;
	/*position:absolute;*/
	display: inline-block;
	left:-200px;
	top:71px;
	width:100px;
	margin-top:1.7%;
	margin-left:27%;
	width:135px;
}

table {
	width:50%;
	height:20%;
	text-align:center;
	line-height:1px;
	font-size: 16px;
	margin-top:3px;
}



#post-pictures {
	width:40%;
	float:right;
	margin-top:1%;
	margin-right:20%;
}

#description {
	text-align:left;
	margin-left:25%;
	margin-top:15px;
}

#description-div {
	margin-right:20px;
	width:60%;
}

#delete-sucess {
	display:block;
	margin-left:15% !important;
	background:none;
	display:none;
	color:red;
}

img:hover { 
	width:500px;
	height:300px;
}